<nav class="navbar fixed-top navbar-light bg-light">
  <!--<nav class="flex-row" aria-label="breadcrumb">-->
  <!--<ol class="breadcrumb mb-0 p-1 bg-light">-->
  <!--<li class="breadcrumb-item"><a href="#">Home</a></li>-->
  <!--<li class="breadcrumb-item active" aria-current="page">Library</li>-->
  <!--</ol>-->
  <!--</nav>-->
  <div>
    <button class="btn btn-sm btn-light" type="button" aria-label="back" disabled>
      <span class="fas fa-arrow-left"></span>
    </button>
    <button class="btn btn-sm btn-light ml-2" type="button" aria-label="forward">
      <span class="fas fa-arrow-right"></span>
    </button>
  </div>

  <div class="flex-row-reverse">
    <button class="btn btn-sm btn-outline-secondary mr-2" type="button">
      <span class="fab fa-js"> Display Schema</span>
    </button>
    <button class="btn btn-sm btn-outline-secondary mr-2" type="button">
      <span class="fas fa-copy"> Copy</span>
    </button>
    <button class="btn btn-sm btn-outline-secondary mr-2" type="button">
      <span class="fas fa-file"> New</span>
    </button>
    <button class="btn btn-sm btn-outline-primary mr-2" type="button" (click)="toggleEditDisplay()">
      <span *ngIf="!readonly" class="fas fa-glasses"> Display</span>
      <span *ngIf="readonly" class="fas fa-edit"> Edit</span>
    </button>
    <button class="btn btn-sm btn-outline-primary" type="button" (click)="saveEntity()">
      <span class="fas fa-save"> Save</span>
    </button>
  </div>
</nav>

<div class="mt-5">
  <dk-message></dk-message>
</div>

<div class="mt-5" *ngIf="entityMeta">

  <div class="card-body row">
    <div class="form-group row col-6">
      <label class="col-4 col-form-label text-right" for="entityType">Entity Type: </label>
      <div class="col-8">
        <input [value]="entity['ENTITY_ID']" type="text" readonly class="form-control-plaintext" id="entityType">
      </div>
    </div>
    <div class="form-group row col-6">
      <label class="col-4 col-form-label text-right" for="instanceGUID">Instance GUID: </label>
      <div class="col-8">
        <input [value]="entity['INSTANCE_GUID']" type="text" readonly class="form-control-plaintext " id="instanceGUID">
      </div>
    </div>
  </div>

  <app-entity-attribute [formGroup]="formGroup" [entityAttributes]="entityMeta.ATTRIBUTES" [readonly]="readonly">

  </app-entity-attribute>

  <app-entity-relation *ngFor="let entityRelation of entityRelations" [parentFormGroup]="formGroup"
                       [formGroup]="formGroup.controls[entityRelation.RELATION_ID]" [readonly]="readonly"
                       [entityRelation]="entityRelation" [relationAttributes]="entityRelation.ATTRIBUTES" >

  </app-entity-relation>


  <app-entity-relationship *ngFor="let relationship of entity.relationships" [relationship]="relationship"
                           [readonly]="readonly">

  </app-entity-relationship>

  <button class="btn btn-sm btn-outline-secondary my-2" type="button" [disabled]="readonly">
    <span class="fas fa-plus "> Add Relationship</span>
  </button>
</div>
