<div class="card mt-2">
  <div class="card-header"><span class="fab fa-elementor"></span> Attribute</div>
  <div class="card-body">
    <table class="table table-bordered table-sm dk-table" [formGroup]="parentForm">
      <thead class="thead-light">
        <tr>
          <th scope="col">Action</th>
          <th scope="col">Attribute Name</th>
          <th scope="col">Description</th>
          <th scope="col">Data Element</th>
          <th scope="col">Data Type</th>
          <th scope="col">Length</th>
          <th scope="col">Decimal</th>
          <th scope="col" title="Primary Key" [hidden]="relationID.substring(0,2) !== 'r_'">PK</th>
          <th scope="col" title="Auto Incremental" [hidden]="relationID.substring(0,2) !== 'r_'">AI</th>
        </tr>
      </thead>

      <tbody formArrayName="ATTRIBUTES">
        <tr *ngFor="let attrFormGroup of formArray.controls; let i = index">
          <td class="dk-actions">
            <button class="btn btn-sm" type="button" id="delete" [disabled]="readonly || isFieldGray(attrFormGroup.value)"
                    (click)="deleteAttribute(i)" title="Delete">
              <span class="far fa-trash-alt"></span>
            </button>
            <button class="btn btn-sm" type="button" id="add" [disabled]="readonly || isFieldGray(attrFormGroup.value)"
                    (click)="insertAttribute(i)" title="Insert">
              <span class="fas fa-plus"></span>
            </button>
            <button class="btn btn-sm" type="button" id="switch" [disabled]="readonly || isFieldGray(attrFormGroup.value)"
                    (click)="switchBtwDEAndDT(i)" title="Switch btw Data Element and Data Type">
              <span class="far fa-lightbulb"></span>
            </button>
          </td>
          <td [formGroup]="attrFormGroup">
            <input type="text" formControlName="ATTR_NAME" [readonly]="readonly || isFieldGray(attrFormGroup.value)"
                   class="form-control form-control-sm" (change)="onChangeAttributeName(i)">
          </td>
          <td [formGroup]="attrFormGroup">
            <input type="text" formControlName="ATTR_DESC" class="form-control form-control-sm dk-description"
                   [readonly]="readonly || isFieldGray(attrFormGroup.value)">
          </td>
          <td [formGroup]="attrFormGroup">
            <div class="input-group dk-dataElement">
              <input type="text" formControlName="DATA_ELEMENT" [readonly]="readonly || isFieldGray(attrFormGroup.value)"
                     class="form-control form-control-sm" (change)="onChangeDataElement(i)">
              <div class="invalid-tooltip">
                {{attrFormGroup.get('DATA_ELEMENT').errors?.message}}
              </div>
              <div class="input-group-append">
                <button class="btn btn-outline-secondary btn-sm" type="button" id="searchDataElement"
                        (click)="onSearchHelp(attrFormGroup, i)">
                  <span class="fas fa-search"></span>
                </button>
              </div>
            </div>
          </td>
          <td [formGroup]="attrFormGroup">
            <select formControlName="DATA_TYPE" (change)="onChangeDataType(attrFormGroup)" class="form-control form-control-sm">
              <option *ngFor="let opt of dataTypes" [value]="opt.key">{{opt.value}}</option>
            </select>
          </td>
          <td [formGroup]="attrFormGroup">
            <input type="number" formControlName="DATA_LENGTH" class="form-control form-control-sm dk-number"
                   [readonly]="(+attrFormGroup.value.DATA_TYPE !== 1 && +attrFormGroup.value.DATA_TYPE !== 4) || readonly || isFieldGray(attrFormGroup.value)">
          </td>
          <td [formGroup]="attrFormGroup">
            <input type="number" formControlName="DECIMAL" class="form-control form-control-sm dk-number"
                   [readonly]="+attrFormGroup.value.DATA_TYPE !== 4 || readonly || isFieldGray(attrFormGroup.value)">
          </td>
          <td [formGroup]="attrFormGroup" [hidden]="relationID.substring(0,2) !== 'r_'">
            <input type="checkbox" formControlName="PRIMARY_KEY">
          </td>
          <td [formGroup]="attrFormGroup" [hidden]="relationID.substring(0,2) !== 'r_'">
            <input type="checkbox" formControlName="AUTO_INCREMENT">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<dk-app-search-help></dk-app-search-help>
