.dk-table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  border: none;
}
.dk-actions{
  width: 6rem;
}
.dk-description{
  min-width: 12rem;
  max-width: 20rem;
}
.dk-dataElement{
  min-width: 12rem;
  max-width: 20rem;
}
.dk-number{
  min-width: 4rem;
  max-width: 6rem;
}
