.dk-table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  border: none;
}
.dk-actions{
  width: 3rem;
  min-width: 3rem;
  max-width: 3rem;
}
.dk-description{
  width: 15rem;
  min-width: 15rem;
  max-width: 15rem;
}
