<div class="mt-2 pl-4 row">
  <div class="col-6 form-group row">
    <label for="entity_id" class="col-sm-3 col-form-label form-control-sm">Entity ID:</label>
    <select id="entity_id" name="entity_id" class="col-sm-6 form-control form-control-sm"
            required [(ngModel)]="entityID" (change)="getRelationIDs()">
      <option *ngFor="let entity of entityIDs$ | async" [value]="entity">{{entity}}</option>
    </select>
    <button class="btn btn-sm btn-outline-info ml-2" type="button" (click)="newEntity()">
      <span class="fas fa-file"> New</span>
    </button>
  </div>
  <div class="col-6 form-group row">
    <label for="relation_id" class="col-sm-3 col-form-label form-control-sm">Relation ID:</label>
    <select id="relation_id" name="relationship_id" class="col-sm-6 form-control form-control-sm"
            required [(ngModel)]="relationID" (change)="getAttributes()">
      <option *ngFor="let relation of relationMetas"
              [value]="relation.RELATION_ID">{{relation.RELATION_ID}}</option>
    </select>
  </div>
</div>

<div class="card mb-3 pt-3">
  <div *ngFor="let selection of selections;let i = index" class="pl-4 form-group row">
    <select name="filterField" class="col-3 form-control form-control-sm mr-3" required [(ngModel)]="selection.FIELD_NAME">
      <option *ngFor="let attribute of attributes" [value]="attribute.ATTR_NAME">{{attribute.ATTR_NAME}}</option>
    </select>
    <select name="operator" class="col-1 form-control form-control-sm mr-3" required [(ngModel)]="selection.OPERATOR">
      <option *ngFor="let operator of operators" [value]="operator.ID">{{operator.LABEL}}</option>
    </select>
    <input name="low" [(ngModel)]="selection.LOW" type="text" class="col-2 form-control form-control-sm mr-3">
    <label *ngIf="selection.OPERATOR === 'BT'" class="col-form-label form-control-sm">and</label>
    <input *ngIf="selection.OPERATOR === 'BT'" name="high" [(ngModel)]="selection.HIGH" type="text" class="col-2 form-control form-control-sm mx-3">
    <button type="button" class="btn btn-link btn-sm ml-2" (click)="deleteSelection(i)">Delete</button>
  </div>

  <div class="mb-2">
    <button *ngIf="attributes && attributes.length > 0" type="button" class="btn btn-link btn-sm ml-2" (click)="addSelection()">Add</button>
    <button type="button" class="btn btn-primary btn-sm float-right mr-4" (click)="search()">Search</button>
  </div>
</div>

<dk-message></dk-message>

<hot-table [hotId]="instance" [settings]="settingsObj" [data]="data" [columns]="columns" [colHeaders]="colHeaders"></hot-table>
