<ul class="nav nav-tabs mt-1">
  <li class="nav-item active">
    <a class="nav-link" routerLink="/model/entity-type" routerLinkActive="active">Entity</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/model/role" routerLinkActive="active">Role</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/model/relation" routerLinkActive="active">Relation</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/model/relationship" routerLinkActive="active">Relationship</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/model/data-element" routerLinkActive="active">Data Element</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/model/data-domain" routerLinkActive="active">Data Domain</a>
  </li>
</ul>

<div class="dk-model-content">
  <router-outlet></router-outlet>
</div>

