<ul class="nav nav-tabs mt-1">
  <li class="nav-item active">
    <a class="nav-link" routerLink="/model/entity-type" routerLinkActive="active">Entity</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/entity-type">Role</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Relation</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Relationship</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Data Element</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Data Domain</a>
  </li>
</ul>

<div class="dk-model-content">
  <router-outlet></router-outlet>
</div>

