.dk-invalid input,
.dk-invalid select{
  border-color: #dc3545;
}
.dk-invalid .invalid-tooltip {
  display: block;
}
.dk-invalid-feedback {
  display: inline;
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545;
}
