<div class="card mt-2">
  <div class="card-header" [class.disabled]="entityRelation.DISABLED">
    <span class="fas fa-table"></span>
    Relation: <strong>{{entityRelation.RELATION_ID}}</strong>{{entityRelation.CARDINALITY}} in Role: <strong>{{entityRelation.ROLE_ID}}</strong>
    <i *ngIf="entityRelation.DISABLED"> is disabled</i>
    <div *ngIf="entityRelation.CARDINALITY !== '[1..1]'" class="float-right">
      <button *ngIf="entityRelation.CARDINALITY === '[0..1]' && !entityRelation.EMPTY" class="btn btn-sm btn-outline-secondary"
              type="button" title="Delete Entry" [disabled]="readonly || entityRelation.DISABLED" (click)="deleteRelationInstance()">
        <span class="far fa-trash-alt"></span>
      </button>
      <button class="btn btn-sm btn-outline-secondary ml-2" type="button" title="Add Entry" [name]="entityRelation.RELATION_ID"
              [disabled]="readonly || entityRelation.DISABLED" (click)="addNewRelationInstance()">
        <span class="fas fa-plus"></span>
      </button>
    </div>
    <button *ngIf="isEntityRelation" class="btn btn-sm btn-outline-secondary float-right" type="button"
            title="Refresh Roles" [disabled]="readonly" (click)="refreshRoleStatus()">
      <span class="fas fa-sync"></span>
    </button>
  </div>

  <div *ngIf="!entityRelation.EMPTY && !entityRelation.DISABLED &&
              (entityRelation.CARDINALITY === '[0..1]' || entityRelation.CARDINALITY === '[1..1]')"
       class="card-body row" [formGroup]="formGroup" [id]="entityRelation.ROLE_ID + '_' + entityRelation.RELATION_ID">
    <dk-app-attribute-form class="col-6" *ngFor="let attributeControl of attributeControls"
                           [formGroup]="formGroup" [isSmallSize] = true [readonly]="readonly || entityRelation.DISABLED"
                           [attributeControl]="attributeControl">
    </dk-app-attribute-form>
  </div>

  <div *ngIf="!entityRelation.EMPTY && !entityRelation.DISABLED &&
              (entityRelation.CARDINALITY === '[0..n]' || entityRelation.CARDINALITY === '[1..n]')"
    class="card-body">

    <dk-app-attribute-table class="mt-2 mb-4" [formArray]="formGroup" [parentFormGroup]="parentFormGroup"
                         [readonly]="readonly || entityRelation.DISABLED" [isSmallSize] = true
                         [attributeControls]="attributeControls" [entityRelation]="entityRelation">
    </dk-app-attribute-table>
  </div>
</div>
