<div class="btn-toolbar justify-content-end  mb-2" role="toolbar">
  <div class="btn-group" role="group">
    <button class="btn" type="button" title="Edit/Display" (click)="switchEditDisplay()">
      <span *ngIf="readonly" class="fas fa-edit"></span>
      <span *ngIf="!readonly" class="fas fa-glasses"></span>
    </button>
    <button class="btn" type="button" title="Save" (click)="save()">
      <span class="fas fa-save"></span>
    </button>
  </div>
</div>

<dk-message></dk-message>
<form *ngIf="roleMeta" [formGroup]="roleForm">
  <div class="form-group" [class.dk-invalid]="roleForm.get('ROLE_ID').invalid && (roleForm.touched || roleForm.dirty)" >
    <label for="role" class="col-form-label form-control-sm">Role:
      <span class="dk-invalid-feedback">
        {{roleForm.get('ROLE_ID').errors?.message}}
      </span>
    </label>
    <input type="text" class="form-control form-control-sm" id="role" [readonly]="readonly || !isNewMode"
           name="role" formControlName="ROLE_ID">
  </div>
  <div class="form-group">
    <label for="role-desc" class="col-form-label form-control-sm">Role Description:</label>
    <textarea class="form-control" id="role-desc" name="role-desc" rows="2"
              formControlName="ROLE_DESC" [readonly]="readonly" (change)="onChangeRoleDesc()"></textarea>
  </div>

  <div class="card mt-2">
    <div class="card-header"><span class="fas fa-user-check"></span> Relations</div>
    <div class="card-body">
      <table class="table table-bordered table-sm dk-table">
        <thead class="thead-light">
        <tr>
          <th scope="col">Action</th>
          <th scope="col">Relation</th>
          <th scope="col">Description</th>
          <th scope="col">Cardinality</th>
        </tr>
        </thead>

        <tbody formArrayName="RELATIONS">
        <tr *ngFor="let relationFormGroup of relationFormArray.controls; let i = index">
          <td class="dk-actions">
            <button class="btn btn-sm" type="button" [disabled]="readonly" (click)="deleteRelation(i)" title="Delete">
              <span class="far fa-trash-alt"></span>
            </button>
          </td>
          <td [formGroup]="relationFormGroup"
              [class.dk-invalid]="relationFormGroup.get('RELATION_ID').invalid && (relationFormGroup.touched || relationFormGroup.dirty)">
            <div class="input-group">
              <input class="form-control form-control-sm" type="text" formControlName="RELATION_ID"
                     [readonly]="readonly || oldRelation(relationFormGroup) && relationFormGroup.valid" (change)="onChangeRelationID(i)">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary btn-light btn-sm" type="button" id="button-addon2">
                  <span class="fas fa-search"></span>
                </button>
              </div>
              <div class="invalid-tooltip">
                {{relationFormGroup.get('RELATION_ID').errors?.message}}
              </div>
            </div>
          </td>
          <td [formGroup]="relationFormGroup">
            <input type="text" formControlName="RELATION_DESC" readonly class="form-control form-control-sm dk-description">
          </td>
          <td [formGroup]="relationFormGroup">
            <select class="form-control form-control-sm" formControlName="CARDINALITY">
              <option>[0..1]</option>
              <option>[1..1]</option>
              <option>[0..n]</option>
              <option>[1..n]</option>
            </select>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</form>
