<div class="btn-toolbar justify-content-end  mb-2" role="toolbar">
  <div class="btn-group" role="group">
    <button class="btn" type="button" title="Edit/Display" (click)="switchEditDisplay()">
      <span *ngIf="readonly" class="fas fa-edit"></span>
      <span *ngIf="!readonly" class="fas fa-glasses"></span>
    </button>
    <button class="btn" type="button" title="Save" (click)="save()">
      <span class="fas fa-save"></span>
    </button>
  </div>
</div>

<dk-message></dk-message>
<form *ngIf="relationMeta" [formGroup]="relationForm">
  <div class="form-group" [class.dk-invalid]="relationForm.get('RELATION_ID').invalid && (relationForm.touched || relationForm.dirty)">
    <label for="relation" class="col-form-label form-control-sm">Relation:
      <span class="dk-invalid-feedback">
        {{relationForm.get('RELATION_ID').errors?.message}}
      </span>
    </label>
    <input type="text" class="form-control form-control-sm" id="relation" [readonly]="readonly || !isNewMode"
          name="relation" formControlName="RELATION_ID" >
  </div>
  <div class="form-group">
    <label for="relation-desc" class="col-form-label form-control-sm">Relation Description:</label>
    <textarea class="form-control" id="relation-desc" name="relation-desc" rows="2"
              (change)="onChangeRelationDesc()" formControlName="RELATION_DESC" [readonly]="readonly"></textarea>
  </div>

  <app-attribute-meta [readonly]="readonly" [parentForm]="relationForm" [attributes]="relationMeta.ATTRIBUTES"
                      [relationID]="relationMeta.RELATION_ID" [isNewMode]="isNewMode">
  </app-attribute-meta>

</form>
