<div class="card mt-2" [id]="relationship.RELATIONSHIP_ID">
  <div class="card-header">
    <span class="fab fa-connectdevelop"></span> Relationship: <strong>{{relationship.RELATIONSHIP_ID}}</strong>,
    Involved Role: <strong>{{relationship.SELF_ROLE_ID}}</strong>

    <div class="float-right">
      <button class="btn btn-sm btn-outline-secondary ml-2" type="button" [name]="relationship.RELATIONSHIP_ID"
              [disabled]="readonly" (click)="showModalAdd()">
        <span class="fas fa-plus"></span>
      </button>
    </div>
  </div>

  <div class="card-body">

    <table class="table table-bordered table-sm mt-2 mb-4">
      <thead class="thead-light">
      <tr>
        <th scope="col">Action</th>
        <th scope="col">Relationship GUID</th>
        <th scope="col">Valid From</th>
        <th scope="col">Valid To</th>
        <th scope="col">Validity</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let value of relationship.values; let i = index">
        <td class="actions">
          <button *ngIf="readonly || value.action === 'delete' || value.action === 'expire' || currentTime > value.VALID_TO"
                  title="Display Relationship" class="btn btn-sm" type="button" (click)="showModalForDisplay(i)">
            <span  class="fas fa-search"></span>
          </button>
          <button *ngIf="!readonly && ((value.action !== 'delete' && value.action !== 'expire' && currentTime <= value.VALID_TO)
                         || (value.action !== 'delete' && !value.VALID_FROM))"
                  title="Change Relationship" class="btn btn-sm" type="button" (click)="showModalForChange(i)">
            <span  class="fas fa-pen"></span>
          </button>
          <button *ngIf="currentTime >= value.VALID_FROM && currentTime < value.VALID_TO" title="Expire"
                  class="btn btn-sm" type="button" [disabled]="readonly" (click)="expireRelationship(i)">
            <span class="far fa-calendar-times"></span>
          </button>
          <button *ngIf="currentTime >= value.VALID_FROM && currentTime < value.VALID_TO" title="Extend"
                  class="btn btn-sm" type="button" [disabled]="readonly" (click)="showModalForExtend(i)">
            <span class="fas fa-expand-arrows-alt"></span>
          </button>
          <button *ngIf="value.action === 'add' || !value.VALID_FROM || (currentTime < value.VALID_FROM && value.action !== 'delete')"
                  title="Delete" class="btn btn-sm" type="button" [disabled]="readonly" (click)="deleteRelationship(i)">
            <span class="far fa-trash-alt"></span>
          </button>
        </td>
        <td>
          <button type="button" class="btn btn-sm btn-link" placement="right" popoverTitle="Partner Instance(s)" triggers="manual"
                  [ngbPopover]="popContent" popoverClass="popoverW" #p="ngbPopover" (click)="popoverPartnerInstances($event)">
            {{value.RELATIONSHIP_INSTANCE_GUID}}
          </button>
        </td>
        <td>{{value.VALID_FROM}}</td>
        <td>{{value.VALID_TO}}</td>
        <td class="dk-relationship-validity" [ngSwitch]="getValidityStatus(value)">
          <div *ngSwitchCase="'new'">
            <span class="badge badge-primary">New</span>
          </div>
          <div *ngSwitchCase="'delete'">
            <span class="badge badge-danger">Deleted</span>
          </div>
          <div *ngSwitchCase="'current'">
            <span class="badge badge-success">Current</span>
          </div>
          <div *ngSwitchCase="'expired'">
            <span class="badge badge-danger">Expired</span>
          </div>
          <div *ngSwitchCase="'future'">
            <span class="badge badge-warning">Future</span>
          </div>
        </td>

        <ng-template #popContent>
          <table class="table table-bordered table-sm mt-2 mb-4">
            <thead class="thead-light">
            <tr>
              <th scope="col">Entity</th>
              <th scope="col">Role</th>
              <th scope="col">Instance GUID</th>
            </tr>
            </thead>

            <tbody>
              <tr *ngFor="let partnerEntity of value.PARTNER_INSTANCES">
                <td>{{partnerEntity.ENTITY_ID}}</td>
                <td>{{partnerEntity.ROLE_ID}}</td>
                <td><a [routerLink]="['/entity', partnerEntity.INSTANCE_GUID]">{{partnerEntity.INSTANCE_GUID}}</a></td>
              </tr>
            </tbody>
          </table>
        </ng-template>
      </tr>
      </tbody>
    </table>

  </div>
</div>

<div class="modal fade" [ngClass]="{'show': isModalShown}"
     [ngStyle]="{'display': displayModal}" id="addRelationshipInstanceModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addRelationshipInstance">Add Relationship Instance</h5>
        <button type="button" class="close" (click)="closeAddModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <dk-message></dk-message>
        <form>
          <div class="form-row" *ngIf="detailValue.VALID_FROM && detailValue.VALID_TO">
            <div class="form-group col-6">
              <label for="valid-from" class="col-form-label form-control-sm">Valid From:</label>
              <input type="text" class="form-control form-control-sm" id="valid-from" [readonly]="readonlyValidFrom"
                     name="valid-from" [(ngModel)]="detailValue.VALID_FROM">
            </div>
            <div class="form-group col-6">
              <label for="valid-to" class="col-form-label form-control-sm">Valid To:</label>
              <input type="text" class="form-control form-control-sm" id="valid-to" [readonly]="readonlyValidTo"
                     name="valid-to" [(ngModel)]="detailValue.VALID_TO">
            </div>
          </div>

          <table class="table table-bordered table-sm">
            <thead class="thead-light">
            <tr>
              <th scope="col">Partner Role</th>
              <th scope="col">Partner Entity</th>
              <th scope="col">Instance GUID</th>
            </tr>
            </thead>

            <tbody>
            <tr *ngFor="let partnerInstance of detailValue.PARTNER_INSTANCES">
              <td>
                <input type="text" class="form-control form-control-sm" name="partner_role_id"
                       readonly [(ngModel)]="partnerInstance.ROLE_ID">
              </td>
              <td>
                <select name="partner_entity_id" class="form-control form-control-sm" [disabled]="readonlyPartner"
                        required [(ngModel)]="partnerInstance.ENTITY_ID" (change)="partnerInstance.INSTANCE_GUID = ''">
                  <option *ngFor="let entityID of entityIDsByRole[partnerInstance.ROLE_ID] | async" [value]="entityID">
                    {{entityID}}
                  </option>
                </select>
              </td>
              <td class="dk-guid">
                <div class="input-group">
                  <input class="form-control form-control-sm" type="text" name="partner_instance_guid"
                         required [(ngModel)]="partnerInstance.INSTANCE_GUID" [readonly]="readonlyPartner">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary btn-sm" type="button" name="searchInstanceGUID"
                            (click)="onSearchHelp(partnerInstance.ENTITY_ID, partnerInstance)">
                      <span class="fas fa-search"></span>
                    </button>
                  </div>
                </div>
              </td>
            </tr>
            </tbody>
          </table>

          <app-attribute-form *ngFor="let attributeControl of attributeControls" [readonly]="readonlyAttribute"
                              [attributeControl]="attributeControl" [formGroup]="relationshipFormGroup">
          </app-attribute-form>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-secondary" (click)="closeAddModal()">Cancel</button>
        <button type="button" class="btn btn-sm btn-primary" (click)="confirm()" [disabled]="readonly">
          Confirm
        </button>
      </div>
    </div>
  </div>
</div>

<dk-app-search-help></dk-app-search-help>
