<div class="row">
  <div class="col-4">
    <div class="btn-toolbar justify-content-between mb-2" role="toolbar">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" #searchBox (keyup)="searchRole(searchBox.value)" >
      </div>
      <button class="btn" type="button" title="Add" (click)="newRole()">
        <span class="fas fa-plus"></span>
      </button>
    </div>
    <div class="list-group">
      <a *ngFor="let role of roleList" routerLink="/model/role/{{role.ROLE_ID}}" routerLinkActive="active"
         (click)="onSelect(role)" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{role.ROLE_ID}}</h5>
          <small>version: {{role.VERSION_NO}}</small>
        </div>
        <p class="mb-1">{{role.ROLE_DESC}}</p>
        <!--<small>created by: {{entityType.CREATE_BY}} @{{entityType.CREATE_TIME}}</small> <br/>-->
        <small>last changed by: {{role.LAST_CHANGE_BY}} @{{role.LAST_CHANGE_TIME}}</small>
      </a>
    </div>
  </div>
  <div class="col-8">
    <router-outlet></router-outlet>
  </div>
</div>
